/* 排版 */
.container{
    width: 70%;
    display:flex;
    flex-direction: column;
}


.bar{
    display:flex;
    flex:2;
    border:solid 1px red;
}

.half-center{
    display:flex;
    flex:1;
    align-items: center;
}


.repo-list{
    display:flex;
    flex:8;
    justify-content: center;
    border:solid 1px red;
}

/* search bar */


.search-bar input[type=text]{
    padding: 10px;
    font-size: 17px;
    border: 1px solid white;
    float: left;
    width: 80%;
    border-top-left-radius:40px;
    border-bottom-left-radius:40px
}

.search-bar button {
    float: left;
    width: 10%;
    padding: 7px;
    background: white;
    color: rgba(60, 60, 67, 0.6);
    font-size: 17px;
    border: 1px solid white;
    border-left: none; /* Prevent double borders */
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    cursor: pointer;
  }

input:focus{
    outline: none;
}

/* Header */


.header h1{

    font-family:"Ubuntu Mono"
}


img {
    border-radius:150px;
    margin-right: 20px;
    margin-left: 40px;
    width:60px;
    height:60px;
}

/* RWD */
@media screen and (max-width:500px) { 
    .container{
        width: 90%;
    }
    .bar{
        flex-direction: column;
    }
    .search-bar input[type=text]{
        width: 85%;
    }
    img{
        margin-left: 0px;
    }
  }
