.bar{
    background-color: #B3CEE5;
    padding: 10px 25px;
    height:7vh;
    display:flex;
    align-items: center;
}

.bar img{
    width: 8%;
    margin-right:1%;
    margin-bottom: 5px;
}

.bar h2{
    color: #396184;
    font-family: "Ubuntu Mono";
    font-weight: 500;
}

.arrow-icon{
    color: #396184;
    font-size: 25px;
    font-weight: bold;
    margin-top: 4px;
    margin-right:1%;
    cursor: pointer;

}