/* search bar */



.search-wrapper{
    display:flex;
    width: 100%;
    height: 10vh;
    background-color:white;
    border-radius: 20px;
}

.search-wrapper input[type=text]{
    margin:0;
    padding: 30px;
    font-size: 20px;
    flex: 9;
    border: 1px solid white;
    border-radius: 20px;
}

.search-wrapper button {
    margin:0;
    flex: 2;
    background: white;
    color: rgba(60, 60, 67, 0.6);
    border: 1px solid white;
    cursor: pointer;
    border-radius: 20px;
  }

.search-wrapper .search-btn{
    font-size:30px;
}

input:focus{
    outline: none;
}


@media screen and (max-width:650px) { 
    .search-wrapper{
        height:7vh;
    }
    .search-wrapper input[type=text]{
        font-size:15px;
        padding:3px;
    }
    .search-wrapper .search-btn{
        font-size:25px;
    }

  }
