/* search bar */



.search-wrapper{
    border: 1px solid red;
    width: 100%;
}

.search-wrapper input[type=text]{
    padding: 30px;
    font-size: 20px;
    border: 1px solid white;
    float: left;
    width: 70%;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px
}

.search-wrapper button {
    float: left;
    height:100%;
    width: 15%;
    /* padding: 28px; */
    background: white;
    color: rgba(60, 60, 67, 0.6);
    border: 1px solid white;
    border-left: none; /* Prevent double borders */
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    cursor: pointer;
  }

.search-wrapper .search-btn{
    font-size:30px;
}

input:focus{
    outline: none;
}


@media screen and (max-width:650px) { 
    .search-wrapper input[type=text]{
        padding:20px;
    }
    .search-wrapper .search-btn{
        font-size:25px;
    }
  }
