
.header{
    display: flex;
    align-items: center;
    margin:2% 0%;
}


.header h1{
    font-family:"Ubuntu Mono";
    font-size: 40px;
    color: #FD646A;
}



.github{
    margin-right: 40px;
    width:60px;
    height:60px;
    color: #FD646A;
}


/* RWD */
@media screen and (max-width:1100px) { 
    .header{
        display: flex;
        justify-content: flex-start;
    }
    .header h1{
        font-size: 30px;
    }
  }
