/* container */
.info-container{
    width: 100%;
    background-color:white;
    border: 1px solid #CED9E3;
    border-radius:20px;
    box-sizing: border-box;
    min-height:50vh;
   
}

.info-container h3,span,h2{
    font-family:"Ubuntu Mono"
}
/* header */
.info-header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:1% 5%;
}
.info-header h2{
    color:#2E4051;
    font-size: 26px;
}

.info-header >div{
    display:flex;
    align-items:center;
}

.info-header span,.right-arrow{
color:#396184;
cursor: pointer;
}

.info-header .right-arrow{
    position: relative;
    top:12%;
    left:5%;
    
}

.info-divider{
    border-top: 1px solid #CED9E3;;
}

/* info */
.info-wrapper{
    padding:3% 5%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 5%;
}


.info-wrapper h3{
    color: #2E4051;
    font-weight:normal;
    margin-bottom: 5%;
    font-size: 25px;
}

.info-wrapper p{
    color: #7E7E7E;
    line-height: 2;
    font-size: 18px;
    margin-right: 2%;
}

.info-clone-url>div{
    display:flex;
    align-items: center;
    position: relative;
    bottom: 20px;
}

.clip-board{
    color: #7E7E7E;
    cursor: pointer;
}

/* detail */
.info-detail-wrapper{
    border: 2px solid #CED9E3;
    border-radius:15px;
    padding:6% 10%;
    grid-template-columns:1fr 1fr;
    display: grid;
    column-gap: 4%;
    border: 2px solid #CED9E3;
    height:60%;
}

.info-detail-wrapper >div{

    display: flex;
    justify-content:flex-start;
    align-items:center;
}



.info-detail-wrapper .icon{
    font-size:30px;
    color:#B3CEE5
}

.info-detail-wrapper span{
    color:#7E7E7E;
    margin-left:10%;
    font-size:16px;

}



.skeleton-header{
    width: 100%;
    height:12vh;
    padding:3% 5%;
    box-sizing: border-box;
}

.skeleton-box1{
    height:15vh;
    margin-bottom: 2vh;
}


@keyframes skeleton-loading {
    0%{
        background-color:hsl(200,20%,70%);

    }
    100%{
        background-color:rgb(192, 200, 204);
    }
}

/* RWD */
@media screen and (max-width:1000px) { 
    .info-container{
        padding-bottom:5%;
    }
    .info-wrapper{
        grid-template-columns: none;
        
    }
    .info-wrapper p{
        margin-bottom:1%;
    }
    .info-detail-wrapper{
        padding:3% 5%;
    }
  }
