

/* card */

.card{
    position: relative;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5% 10%;
    margin-bottom: 5px;
  
}

.card:hover{
    box-shadow: rgba(17, 17, 26, 0.219) 0px 4px 16px, rgba(17, 17, 26, 0.123) 0px 8px 32px;
    cursor: pointer;
    transition:0.7s
}


.first{
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex:1;
    width:100%;
}

.first .star-icon,.second > span{
   flex:1
}

.first >h2 ,.second .detail{
    flex:5
 }

 .star-icon{
    display:flex;
    align-items:center;
    position: relative;
    top:8%;
    font-size: 30px;
 }

.second{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex:1;
    width:100%;
}

.second> span{
    display:flex; justify-content: center;
}


.card div h2{
    font-size:25px;
    margin:0px;
    margin-top: 0;
    font-weight: normal;
    
} 
.detail{
    display: inline-block;
}

.card span {
    color:#7E7E7E;
}


.language{
    margin-right: 15px;
}



/* dot */

.dot{
    position:absolute;
    top:15px;
    left:10px;
    color:#7E7E7E
}


/* arrow */

.arrow{
    position:absolute;
    top:38%;
    right:2%;
    font-size: 30px;
    color:#646363
}

/* skeleton */

.list-skeleton .desc{
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    width: 90%;
    margin:3px;
}

.list-skeleton .desc:last-child{
    width: 85%;
   position: relative;
   right:2.5%;
}

.list-skeleton .dot{
    width:3%;
    height:1rem;
}

.list-skeleton .arrow{
    width:3%;
    height:2rem;
}

.img-alert {
    display:block;
    margin:auto;
    width:50%;
  }

/* RWD */
@media screen and (max-width:1100px) { 
    .card{
        padding:4% 5%;
    }
    .search-bar input[type=text]{
        width: 85%;
    }

    .card div h2{
        font-size:20px;
    }
    .card span {
        font-size:15px;
    }
     .arrow{
         font-size:25px
     }
     .img-alert{
         width:70%;
     }
  }

  @media screen and (max-width:500px) { 
    .card{
        padding:6% 10%;
    }
    .img-alert{
        width:100%;
    }
    .star-icon{
        font-size:25px;
    }
  }
