
/* search bar */


.search-bar input[type=text]{
    padding: 10px;
    font-size: 17px;
    border: 1px solid white;
    float: left;
    width: 85%;
    border-top-left-radius:40px;
    border-bottom-left-radius:40px
}

.search-bar button {
    float: left;
    width: 10%;
    padding: 7px;
    background: white;
    color: rgba(60, 60, 67, 0.6);
    font-size: 17px;
    border: 1px solid white;
    border-left: none; /* Prevent double borders */
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    cursor: pointer;
  }

input:focus{
    outline: none;
}




/* card */

.card{
    position: relative;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5% 10%;
  
}

.card:hover{
    box-shadow: rgba(17, 17, 26, 0.219) 0px 4px 16px, rgba(17, 17, 26, 0.123) 0px 8px 32px;
    cursor: pointer;
    transition:0.7s
}


.first{
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex:1;
    width:100%;
}

.first .star-icon,.second > span{
   flex:1
}

.first >h2 ,.second .detail{
    flex:6
 }

 .star-icon{
    display:flex;
    align-items:center;
    position: relative;
    top:2%
 }

.second{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex:1;
    width:100%;
}

.second> span{
    display:flex; justify-content: center;
}


.card div h2{
    font-size:25px;
    margin:0px;
    margin-top: 0;
    font-weight: normal;
    
} 
.detail{
    display: inline-block;
}

.card span {
    color:#7E7E7E;
}


.language{
    margin-right: 15px;
}



/* dot */

.dot{
    position:absolute;
    top:15px;
    left:10px;
    color:#7E7E7E
}


/* arrow */

.arrow{
    position:absolute;
    top:38%;
    right:2%;
    font-size: 30px;
    color:#646363
}

/* skeleton */


.skeleton{
    animation:skeleton-loading 1s linear infinite alternate;
    opacity: .5;
    height: 100%;
    
}


@keyframes skeleton-loading {
    0%{
        background-color:hsl(200,20%,70%);

    }
    100%{
        background-color:hsl(200,20%,80%);
    }
}


.list-skeleton .desc{
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    width: 100%;
    margin:3px;
}

.list-skeleton .desc:last-child{
   width: 80%;
   position: relative;
   right:10%;
}

.list-skeleton .dot{
    width:3%;
    height:1rem;
}

.list-skeleton .arrow{
    width:3%;
    height:2rem;
}



/* RWD */
@media screen and (max-width:1100px) { 
    .card{
        padding:6% 10%;
    }
    .search-bar input[type=text]{
        width: 85%;
    }

    .card div h2{
        font-size:20px;
    }
    .card span {
        font-size:15px;
    }
     .arrow{
         font-size:25px
     }
  }
