/* 排版 */



/* search bar */


.search-bar input[type=text]{
    padding: 10px;
    font-size: 17px;
    border: 1px solid white;
    float: left;
    width: 85%;
    border-top-left-radius:40px;
    border-bottom-left-radius:40px
}

.search-bar button {
    float: left;
    width: 10%;
    padding: 7px;
    background: white;
    color: rgba(60, 60, 67, 0.6);
    font-size: 17px;
    border: 1px solid white;
    border-left: none; /* Prevent double borders */
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    cursor: pointer;
  }

input:focus{
    outline: none;
}

/* Header */


/* card */

.card{
    position: relative;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 9%;
  
}

.card:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    cursor: pointer;
    transition:0.7s
}


.first{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex:1;
    margin-bottom: 2%;
}

.first .star-icon,.second > span{
   flex:1
}

.first >h2 ,.second .detail{
    flex:6
 }

 .star-icon{
    display:flex;
    justify-content:flex-start;
 }

.second{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex:1
}

.second> span{
    display:flex; justify-content: center;
}


.card div h2{
    font-size:25px;
    margin:0px;
    font-weight: normal;
    
} 
.detail{
    display: inline-block;
}

.card span {
    color:#7E7E7E;
}


.language{
    margin-right: 15px;
}



/* dot */

.top-left{
    position:absolute;
    top:15px;
    left:10px;
    color:#7E7E7E
}


/* arrow */

.center-right{
    position:absolute;
    top:38%;
    right:2%;
    font-size: 30px;
    color:#646363
}

/* read more button */
.loading{
    height:5%;
}

/* RWD */
@media screen and (max-width:1000px) { 

    .search-bar input[type=text]{
        width: 85%;
    }

    .card div h2{
        font-size:20px;
    }
    .card span {
        font-size:15px;
    }
     .center-right{
         font-size:25px
     }
  }
